page-login {
    h3 {
        text-align: center;
    }

    img {
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

    .error{
        color: #ff0000;
        font-size: 12px;
    }
}

